.contact-container{
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0 1rem;
    background-color: grey;
    border-radius: 20px;
    max-width: 82%;
    width: 450vh;
    height: 55vh;   
}

 .contact-title{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: overline;
    text-decoration-color: #fff;
    height: 100px;
    text-transform: uppercase;
}



.contact-text{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  
   
}

.contact-col{
    text-align: center;
    font-size: 1.6;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.contact-link{
    margin: 0 1rem;
}


/* Media query iphone 13 pro */
@media screen and (max-width: 390px){
    .contact-container{
        margin-top: 8%;
        margin-left: 10%;
        margin-right: 10%;
        padding: 0 1rem;
        background-color: grey;
        border-radius: 20px;
        max-width: 82%;
        width: 450vh;
        height: 55vh;   
    }
    
     .contact-title{
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #fff;
        text-decoration: overline;
        text-decoration-color: #fff;
        height: 100px;
        text-transform: uppercase;
    }
    
    
    
    .contact-text{
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
        text-align: center;
        align-self: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
      
       
    }
    
    .contact-col{
        text-align: center;
        font-size: 1.6;
    }
    
    .button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    
    .contact-link{
        margin: 0 1rem;
    }
    
    }