.contact-container{
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    background-color: grey;
    border-radius: 20px;
    width: 50%;
    height: 50%;
}


h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
    text-decoration: overline;
    text-decoration-color: #fff;
    height: 100px;
    text-transform: uppercase;
}



.contact-text{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact-col{
    text-align: center;
    font-size: 1.6
}

.contact-link{
    text-decoration: none;
    font-size: 1.3rem;
}

.contact-icon{
    font-size: 2rem;
    margin-right: 1rem;
    color: #0f1;
    border-radius: 50%;
}

.contact-btn{
    margin-top: 2.2rem;
}