

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.card{
    text-align:'center';
    margin: 10%;
    margin-top:2%;
    margin-left:3%;
    margin-right:3%;
    padding:20;
    align-self: center;
}

