* {
    margin: 0;
    padding: 0;
}

.main-container {
    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}



.profile{
    position: relative;
    top: 15%;
    left: 15%;
    width: 70%;
    box-shadow:1px 3px 5px #fff;
    border-radius:  2%;
    background-color: #000;
   opacity:0.8;
    
}

.description{
    margin: 0 3% auto;
    padding:20px;
    font-family:'Titan One', cursive;
    font-size: 2.4em;
    color: #fff;
    text-align: justify;
}
  

@media screen and (max-width: 300px) {
    .main-container {
        height: auto;
    }
    .profile{
        top: 10%;
        opacity: 0.9;
    }
    .description{
        font-size: 1.3em;        
    }
}

@media screen and (max-width: 700px) {
    .main-container {
        height: auto;
    }
    .profile{
        top: 10%;
        opacity: 0.9;
    }
    .description{
        font-size: 1.4em;        
    }
}
    
